
.post-image {
    max-width: 30vw;
    max-height: 45vh;
    margin: 1vw;
    position: sticky;
    top:12rem;
    border-radius: 10%

}
.top {   
    position: sticky;
    top:41.9rem;
    margin-right: 10%;
    width:4vw;
    background: rgb(218, 236, 218);
    border-radius: 25%;
    font-size:100%;
}


.title{
    width:80%;
    font-size: 8vh;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bold;
    position: relative;
    left: 25%;
}

.flex-container{
    box-sizing: border-box;
    width:100vw;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    border-style: dotted dashed solid double;
    border-width: 0px 0px 1px 0px;
    border-color: black;
    background: rgb(207, 195, 195);
    font-family: 'Julius Sans One', sans-serif;
   
}


.image-container{
    display:flex;
    flex-direction: column;
    width: 30vw;
    height: auto 100%;
   
}
.top-stickybox{
    display:flex;
    flex-direction: column;
    width: 2vw;
    height: auto 100%;
    width:2vw;
}

.image-content{
    display:flex;
    width: 100%;
    flex-direction: row;
    justify-content: left;
    margin-right: 2vw;
    margin-left: 1.5vw ; 
}

.content-postbtn{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    width: 100%;
}

.buttons{
    height: 20px;
    width: 20PX;
    display:flex;
    flex-direction: row;
    width:28vw;
    margin-left: 10vw;
    margin-bottom: 3vh;
    border-radius: 50%;
}

.button{
    height: 30px;
    width: 50PX;
    border-radius: 25%;
    background: rgb(197, 238, 197);
}

.content{
    width:93%;
    text-align: left;
    font-family: "Courier New", Courier, monospace;
    margin-right: 2vw;
}
