.search-box{
    height: 3%;
    width: 10vw;
    position: absolute;
    top: 63vh;
    right:1%;
    border-radius: 15%;
    background: rgb(218, 236, 218);
    border: none;
    font-family: 'Julius Sans One', sans-serif;
}

.admin-search-box{
    height: 3%;
    width: 10vw;
    position: absolute;
    top: 109vh;
    right:1%;
    border-radius: 15%;
    background: rgb(218, 236, 218);
    border: none;
    font-family: 'Julius Sans One', sans-serif;
}

